USE [master]
GO
/****** Object:  Database [Zaposlenici2]    Script Date: 20.3.2019. 11:32:16 ******/
CREATE DATABASE [Zaposlenici2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zaposlenici2', FILENAME = N'C:\Users\dalov\Zaposlenici2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zaposlenici2_log', FILENAME = N'C:\Users\dalov\Zaposlenici2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zaposlenici2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Zaposlenici2]
GO
USE [Zaposlenici2]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 20.3.2019. 11:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[id_proizvoda] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
	[id_skladista] [int] NOT NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[id_proizvoda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 20.3.2019. 11:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[id_radnika] [int] NOT NULL,
	[Ime] [nchar](50) NULL,
	[Prezime] [nchar](50) NULL,
	[id_skladista] [int] NULL,
	[Voditelj_skladista] [nchar](50) NULL,
 CONSTRAINT [PK_Radnik] PRIMARY KEY CLUSTERED 
(
	[id_radnika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skladisno_mjesto]    Script Date: 20.3.2019. 11:32:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skladisno_mjesto](
	[id_skladista] [int] NOT NULL,
	[Naziv] [varchar](50) NULL,
 CONSTRAINT [PK_Skladisno_mjesto] PRIMARY KEY CLUSTERED 
(
	[id_skladista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Proizvod]  WITH CHECK ADD  CONSTRAINT [FK_Proizvod_Skladisno_mjesto] FOREIGN KEY([id_skladista])
REFERENCES [dbo].[Skladisno_mjesto] ([id_skladista])
GO
ALTER TABLE [dbo].[Proizvod] CHECK CONSTRAINT [FK_Proizvod_Skladisno_mjesto]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [FK_Radnik_Skladisno_mjesto] FOREIGN KEY([id_skladista])
REFERENCES [dbo].[Skladisno_mjesto] ([id_skladista])
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [FK_Radnik_Skladisno_mjesto]
GO
USE [master]
GO
