USE [master]
GO
/****** Object:  Database [Videoteka]    Script Date: 20.3.2019. 11:53:49 ******/
CREATE DATABASE [Videoteka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Videoteka', FILENAME = N'C:\Users\dalov\Videoteka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Videoteka_log', FILENAME = N'C:\Users\dalov\Videoteka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Videoteka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Videoteka]
GO
USE [Videoteka]
GO
/****** Object:  Table [dbo].[Cjenik]    Script Date: 20.3.2019. 11:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cjenik](
	[id_cjenika] [int] NOT NULL,
	[Kategorija] [nchar](10) NOT NULL,
	[cijena] [money] NOT NULL,
 CONSTRAINT [PK_Cjenik] PRIMARY KEY CLUSTERED 
(
	[id_cjenika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clan]    Script Date: 20.3.2019. 11:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clan](
	[id_clana] [int] NOT NULL,
	[Ime] [nchar](50) NULL,
	[Prezime] [nchar](50) NULL,
	[Adresa] [nchar](50) NULL,
	[Telefon] [varchar](10) NULL,
	[Datum_uclanjenja] [date] NULL,
 CONSTRAINT [PK_Clan] PRIMARY KEY CLUSTERED 
(
	[id_clana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filmovi]    Script Date: 20.3.2019. 11:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmovi](
	[id_filma] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Reziser] [varchar](50) NOT NULL,
	[Glavni_glumci] [varchar](50) NOT NULL,
	[Godina_izdanja] [date] NULL,
	[Kolicina_DVD] [int] NULL,
	[Kolicina_VHS] [int] NULL,
	[Slika_naslovice] [text] NULL,
	[id_zanra] [int] NOT NULL,
 CONSTRAINT [PK_Filmovi] PRIMARY KEY CLUSTERED 
(
	[id_filma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posudba]    Script Date: 20.3.2019. 11:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posudba](
	[id_clana] [int] NOT NULL,
	[id_filma] [int] NOT NULL,
	[Datum_posudbe] [date] NOT NULL,
	[Datum_povrata] [date] NOT NULL,
	[id_cjenika] [int] NOT NULL,
 CONSTRAINT [PK_Posudba] PRIMARY KEY CLUSTERED 
(
	[id_clana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zanr]    Script Date: 20.3.2019. 11:53:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zanr](
	[id_zanra] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Zanr] PRIMARY KEY CLUSTERED 
(
	[id_zanra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Filmovi]  WITH CHECK ADD  CONSTRAINT [FK_Filmovi_Zanr] FOREIGN KEY([id_zanra])
REFERENCES [dbo].[Zanr] ([id_zanra])
GO
ALTER TABLE [dbo].[Filmovi] CHECK CONSTRAINT [FK_Filmovi_Zanr]
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD  CONSTRAINT [FK_Posudba_Cjenik] FOREIGN KEY([id_cjenika])
REFERENCES [dbo].[Cjenik] ([id_cjenika])
GO
ALTER TABLE [dbo].[Posudba] CHECK CONSTRAINT [FK_Posudba_Cjenik]
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD  CONSTRAINT [FK_Posudba_Clan] FOREIGN KEY([id_clana])
REFERENCES [dbo].[Clan] ([id_clana])
GO
ALTER TABLE [dbo].[Posudba] CHECK CONSTRAINT [FK_Posudba_Clan]
GO
ALTER TABLE [dbo].[Posudba]  WITH CHECK ADD  CONSTRAINT [FK_Posudba_Filmovi] FOREIGN KEY([id_filma])
REFERENCES [dbo].[Filmovi] ([id_filma])
GO
ALTER TABLE [dbo].[Posudba] CHECK CONSTRAINT [FK_Posudba_Filmovi]
GO
USE [master]
GO
