USE [master]
GO
/****** Object:  Database [Fakultet]    Script Date: 20.3.2019. 18:56:12 ******/
CREATE DATABASE [Fakultet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fakultet', FILENAME = N'C:\Users\programer10\Fakultet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fakultet_log', FILENAME = N'C:\Users\programer10\Fakultet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fakultet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fakultet]
GO
USE [Fakultet]
GO
/****** Object:  Table [dbo].[dvorana]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dvorana](
	[oznDvorana] [nvarchar](5) NOT NULL,
	[kapacitet] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ispit]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ispit](
	[mbrStud] [int] NOT NULL,
	[sifPred] [int] NOT NULL,
	[sifNastavnik] [int] NOT NULL,
	[datIspit] [datetime] NOT NULL,
	[ocjena] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mjesto]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mjesto](
	[pbr] [int] NOT NULL,
	[nazMjesto] [nvarchar](40) NOT NULL,
	[sifZupanija] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nastavnik]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nastavnik](
	[sifNastavnik] [int] NOT NULL,
	[imeNastavnik] [nvarchar](25) NOT NULL,
	[prezNastavnik] [nvarchar](25) NOT NULL,
	[pbrStan] [int] NOT NULL,
	[sifOrgjed] [int] NOT NULL,
	[koef] [decimal](3, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nova_tablica]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nova_tablica](
	[mbrStud] [int] IDENTITY(1,1) NOT NULL,
	[imeStud] [nvarchar](25) NOT NULL,
	[prezStud] [nvarchar](25) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orgjed]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orgjed](
	[sifOrgjed] [int] NOT NULL,
	[nazOrgjed] [nvarchar](60) NOT NULL,
	[sifNadorgjed] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pred]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pred](
	[sifPred] [int] NOT NULL,
	[kratPred] [nvarchar](8) NULL,
	[nazPred] [nvarchar](60) NOT NULL,
	[sifOrgjed] [int] NULL,
	[upisanoStud] [int] NULL,
	[brojSatiTjedno] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rezervacija]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rezervacija](
	[oznDvorana] [nvarchar](5) NOT NULL,
	[oznVrstaDan] [nvarchar](2) NOT NULL,
	[sat] [smallint] NOT NULL,
	[sifPred] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stud]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stud](
	[mbrStud] [int] IDENTITY(1,1) NOT NULL,
	[imeStud] [nvarchar](25) NOT NULL,
	[prezStud] [nvarchar](25) NOT NULL,
	[pbrRod] [int] NULL,
	[pbrStan] [int] NOT NULL,
	[datRodStud] [datetime] NULL,
	[jmbgStud] [nvarchar](13) NULL,
 CONSTRAINT [PK_stud] PRIMARY KEY CLUSTERED 
(
	[mbrStud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zupanija]    Script Date: 20.3.2019. 18:56:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zupanija](
	[sifZupanija] [smallint] NOT NULL,
	[nazZupanija] [nvarchar](40) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A001 ', 24)
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A002 ', 10)
INSERT [dbo].[dvorana] ([oznDvorana], [kapacitet]) VALUES (N'A101 ', 39)
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1167, 229, 122, CAST(N'2002-08-23T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1210, 545, 481, CAST(N'2002-10-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ispit] ([mbrStud], [sifPred], [sifNastavnik], [datIspit], [ocjena]) VALUES (1272, 607, 191, CAST(N'2003-01-14T00:00:00.000' AS DateTime), 2)
GO
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10000, N'Zagreb                                  ', 21)
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10010, N'Zagreb-Sloboština                       ', 21)
INSERT [dbo].[mjesto] ([pbr], [nazMjesto], [sifZupanija]) VALUES (10020, N'Zagreb-Novi Zagreb                      ', 21)
GO
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (122, N'Tin                      ', N'Grabovac                 ', 49000, 100005, CAST(5.90 AS Decimal(3, 2)))
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (126, N'Zdravko                  ', N'Budišin                  ', 53000, 100006, CAST(6.30 AS Decimal(3, 2)))
INSERT [dbo].[nastavnik] ([sifNastavnik], [imeNastavnik], [prezNastavnik], [pbrStan], [sifOrgjed], [koef]) VALUES (130, N'Antun Ivan               ', N'Jonjić                   ', 10000, 100007, CAST(6.70 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[nova_tablica] ON 

INSERT [dbo].[nova_tablica] ([mbrStud], [imeStud], [prezStud]) VALUES (1120, N'Zdenko                   ', N'Kolac                    ')
INSERT [dbo].[nova_tablica] ([mbrStud], [imeStud], [prezStud]) VALUES (1121, N'Danijel                  ', N'Marović                  ')
INSERT [dbo].[nova_tablica] ([mbrStud], [imeStud], [prezStud]) VALUES (1123, N'Jozefina                 ', N'Antončić                 ')
GO
SET IDENTITY_INSERT [dbo].[nova_tablica] OFF
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (6, N'Farmaceutsko-biokemijski fakultet                           ', 9996)
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (7, N'Geodetski fakultet                                          ', 9996)
INSERT [dbo].[orgjed] ([sifOrgjed], [nazOrgjed], [sifNadorgjed]) VALUES (9, N'Filozofski fakultet u Rijeci                                ', 9998)
GO
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (36, N'TEHNO   ', N'Elektrotehnička tehnologija                                 ', 100003, 2, 2)
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (37, N'EEL     ', N'Energetska elektronika                                      ', 100005, 6, 2)
INSERT [dbo].[pred] ([sifPred], [kratPred], [nazPred], [sifOrgjed], [upisanoStud], [brojSatiTjedno]) VALUES (39, N'RASAKO  ', N'Radiorelejne i satelitske komunikacije                      ', 100011, 6, 3)
GO
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B1   ', N'PO', 15, 393)
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B1   ', N'PO', 9, 393)
INSERT [dbo].[rezervacija] ([oznDvorana], [oznVrstaDan], [sat], [sifPred]) VALUES (N'B2   ', N'PO', 14, 393)
SET IDENTITY_INSERT [dbo].[stud] ON 

INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1120, N'Zdenko                   ', N'Kolac                    ', 31000, 40000, CAST(N'1985-06-06T00:00:00.000' AS DateTime), N'0606985330186')
INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1121, N'Danijel                  ', N'Marović                  ', 21000, 10000, CAST(N'1984-12-18T00:00:00.000' AS DateTime), N'1812984330118')
INSERT [dbo].[stud] ([mbrStud], [imeStud], [prezStud], [pbrRod], [pbrStan], [datRodStud], [jmbgStud]) VALUES (1123, N'Jozefina                 ', N'Antončić                 ', 10000, 10000, CAST(N'1984-01-21T00:00:00.000' AS DateTime), N'2101984330133')
GO
SET IDENTITY_INSERT [dbo].[stud] OFF
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (0, N'Nepoznata županija                      ')
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (1, N'Zagrebačka                              ')
INSERT [dbo].[zupanija] ([sifZupanija], [nazZupanija]) VALUES (2, N'Krapinsko-zagorska                      ')
USE [master]
GO
